@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --color: #f5d888;
  --background-color: #181818;
  --sec-color: #282828;
  --head-text:white;
  --text-color: #f8f8ffcc;
  --sec-text-color: white;
  --sub-text: #d3d3d3;
  --box-shadow: -2px 0px 6px #c3c0d199, 0px 0px 0px #232323;
  
}
/* :root{
  --color:#7e22ce;
  --background-color: white;
  --sec-color:#f1f1f1;
  --head-text:black;
  --sub-text: rgb(111, 110, 110);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}
section {
  /* height: 100vh;
  padding: 20px;
  font-size: 24px; */
  scroll-margin-top: 60px;
  display: none;
}
#header {
  height: 100vh;
  width: 100%;
  background-image: url("assets/BG.png");
  background-size: cover;
  background-position: center;
  background-color: black;
}

.logo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  position: relative;
  z-index: 15px;
  width: 80vw;
  margin: 0 auto;
  height: 80px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}



/* --------- Header Section ------------ */

.header-content h3 {
  margin-top: 30%;
  font-size: 35px;
  font-weight: 600;
}
.header-content span {
  color: var(--color);
}
.header-content {
  font-size: 15px;
}

.profession {
  margin-top: 3px;
  font-size: 42px;
  font-weight: 600;
}

.media {
  display: flex;
  gap: 20px;
  margin-top: -18px;
}

.anchor {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid var(--color);
  padding: 12px 20px 10px;
  overflow: hidden;
  position: relative;
}

.anchor:hover {
  color: #4e484a;
}

.button a::before {
  position: absolute;
  content: "";
  z-index: 0;
  background-color: transparent;
  left: -5px;
  right: -5px;
  bottom: -5px;
  height: 111%;
  transition: all 0.3s ease;
}

.button a:hover::before {
  height: 11%;
}
.button .anchor:hover {
  background-color: var(--color);
}
.button span {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}

/* --------- About section----------- */
#about {
  padding: 70px 0px;
  color: var(--text-color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.img-wrapper {
  position: relative;
  width: 100%;
  margin-left: 15px;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  border-bottom: 7px solid var(--color);
  border-right: 7px solid var(--color);
  right: -5px;
  bottom: -1px;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  border-top: 7px solid var(--color);
  border-left: 7px solid var(--color);
  left: -6px;
  top: 0px;
}
.about-col-2 {
  flex-basis: 55%;
}

.sub-title {
  position: relative;
  font-size: 60px;
  font-weight: 600px;
  color: var(--head-text);
  margin-top: 10px;
  margin-left: 30%;
}

.sub-title::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-bottom: 5px solid var(--color);
  border-right: 5px solid var(--color);
  right: 150px;
  bottom: -5px;
}
.sub-title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-top: 5px solid var(--color);
  border-left: 5px solid var(--color);
  left: -15px;
  top: -5px;
}

.about-col-2 p {
  font-size: 18px;
  line-height: 1.6;
  color: var(--sub-text);
  margin-top: 70px;
}

.about-col-2 h1 span {
  color: var(--color);
}



.description span {
  display: inline-block;
  font-weight: bold;
  margin-top: -15px;
  font-size: 50px;
  color: var(--color);
}

.about-col-2 h2{
  font-size: 22px;
  color: var(--sub-text);
}

.location {
  margin-top: -58px;
  display: flex;
}
.location img {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-position: center;
  border: none;
}

.location span {
  font-size: 18px;
  color: #d3d3d3;
  font-weight: bold;
}

.skill {
  display: flex;
  margin: 25px 0 0 10px;
}

.web img {
  height: 50px;
  width: 50px;
  /* margin-top: 5px; */
  filter: invert(1);
}
.web span {
  position: relative;
  display: block;
  margin: -40px 0 0 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: var(--sub-text);
  left: 3px;
}

.web span::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.web span:hover::after {
  width: 100%;
}
.editor {
  margin-left: 35px;
  margin-top: 5px;
}
.editor img {
  height: 55px;
  width: 55px;
  margin-left: 10px;
  filter: invert(1);
}
.editor span {
  display: block;
  position: relative;
  margin: -38px 0 0 60px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: var(--sub-text);
}

.editor span::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.editor span:hover::after {
  width: 100%;
}

/* --------- SERVICES SECTION ------------ */
#services {
  padding: 100px 0;
}

.service-section {
  background-color: var(--sec-color);
  padding: 20px 0 20px 15px;
  position: relative;
}

.heading {
  margin-bottom: 50px;
  font-size: 35px;
  color: var(--head-text);
  font-weight: bold;
  text-align: center;
}
.heading span {
  color: var(--color);
}

.service-container {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 50px;
}

.service-container .service-box {
  background: #262626;
  padding: 20px;
  margin: 0 45px 0 70px;
  border-radius: 30px;
  box-shadow: -2px 0px 6px #c3c0d199, 0px 0px 0px #232323;
}

/* .service-box {
  transition: transform 0.3s ease;
} */

.service-box img {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  transition: transform 0.3s ease;
  filter: invert(1);
}

.service-box h3 {
  display: flex;
  width: 100%;
  text-align: start;
}

.service-box span {
  font-size: 33px;
  margin-top: 18px;
  margin-left: 15px;
  font-weight: bold;
  /* transition: transform 0.3s ease; */
}
.service-box p {
  font-size: 20px;
  margin-left: 50px;
  color: #f8f8ffcc;
  /* color: #ababab; */
}

.service-box span:hover {
  color: var(--color);
  transform: scale(1.2);
}

.service-box img:hover {
  transform: scale(1.03);
}

.service-section::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-top: 3px solid var(--color);
  border-left: 3px solid var(--color);
  left: -4px;
  top: 0px;
}
.service-section::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-bottom: 3px solid var(--color);
  border-right: 3px solid var(--color);
  right: -6px;
  bottom: -3px;
}

/* .service-box:hover {
  transform: scale(1.03);
} */

/* ----------------- Skill Section--------------- */
#skills {
  padding: 100px 0;
}
.skills-container {
  display: flex;
  justify-content: center;
  gap: 75px;
}
.skill-heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  margin-left: -101px;
  color: var(--head-text);
}
.skill-heading span {
  color: var(--color);
}
.skill-col1 {
  flex-basis: 45%;
}

.skill-col1 h3 {
  margin-left: 120px;
  font-size: 30px;
  margin-bottom: 25px;
  color: var(--head-text);
  font-weight: bold;
}

.techinal-skill{
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.skill-col1 ul {
  list-style: none;
  padding: 0;
}
.skill-col1 li {
  margin-bottom: 20px;
}

.skill-col1 h4 {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--head-text);
}

.skill-col1 span {
  display: flex;
  flex-direction: row-reverse;
}

.bar {
  width: 100%;
  /* width: 100%; */
  background-color: #282828;
  border-radius: 20px;
  overflow: hidden;
  height: 13px;
  position: relative;
}

.bar-fill {
  width: 0;
  height: 100%;
  border-radius: 10px;
  transition: width 2s ease-in-out;
}

.bar-html {
  width: 90%;
  background-color: var(--color);
  animation: fillBarHtml 2s ease-in-out forwards;
}

.bar-css {
  width: 80%;
  background-color: var(--color);
  animation: fillBarCss 2s ease-in-out forwards;
}

.bar-js {
  width: 70%;
  background-color: var(--color);
  animation: fillBarJs 2s ease-in-out forwards;
}

.bar-cpp {
  width: 40%;
  background-color: var(--color);
  animation: fillBarCpp 2s ease-in-out forwards;
}

@keyframes fillBarHtml {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes fillBarCss {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes fillBarJs {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes fillBarCpp {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
.skill-col2 {
  flex-basis: 30%;
  /* width: 60vw; */
  margin-top: 54px;
}

.skill-col2 h1 {
  margin: -60px 0 0 95px;
  font-size: 30px;
  color: var(--head-text);
  font-weight: bold;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 50px 0 0 15px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.skill-box {
  background: #262626;
  padding: 20px;
  margin: 0 0px 0 0px;
  border-radius: 30px;
  box-shadow: -2px 0px 6px #c3c0d199, 0px 0px 0px #232323;
  /* width: calc(40% - 20px); */
  height: 130px;
  width: 45%;
  box-sizing: border-box;
  animation: fadeInUp 0.5s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill-box:hover {
  transform: translateY(-10px); /* Move the box up */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.skill-box .figma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill-box i {
  font-size: 45px;
}
.skill-box span {
  font-size: 20px;
  margin-top: 7px;
}
.skill-box img {
  filter: invert(1);
  height: 60px;
  width: 60px;
}

.fa-figma:before {
  content: "\f799";
  font-size: 55px;
}
/* ---------- Contact Section ------------  */

.contact-section {
  display: flex;
  background-color: var(--sec-color);
  border-top-left-radius: 15px;
}

.contact-section h1 {
  font-size: 20px;
  color: var(--head-text);
}
.row {
  display: flex;
}
.contact-left {
  /* flex-basis: 40%; */
  padding: 30px 50px 50px 30px;
  border-right: 3px solid var(--color);
  height: 85%;
  color: var(--head-text);
}
i {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* margin-top: 10px; */
}

.contact-sec {
  display: flex;
  align-items: center;
  margin-top: 45px;
  gap: 5px;
}
.contact-right {
  flex-basis: 50%;
  padding: 30px 50px 50px 30px;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  margin-top: 25px;
}

.socialContainer {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-right form {
  width: auto;
}

.contact-container {
  margin-top: 30px;
}
form input {
  width: 46%;
  padding: 10px;
  margin-bottom: 20px;
  background: #1e1e1e;
  border: 1px solid #333;
  border-radius: 15px;
  color: var(--sec-text-color);
  font-size: 16px;
  box-shadow: var(--box-shadow);
}

form input::placeholder,
form textarea::placeholder {
  color: #888;
}

form button {
  padding: 10px;
  margin-top: 18px;
  background: transparent;
  border: 2px solid var(--color);
  border-radius: 10px;
  color: var(--head-text);
  font-size: 18px;
  font-weight: 600px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

form button:hover {
  background: #e5c778;
  color: black;
}

form textarea {
  width: 93%;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #333;
  color: var(--sec-text-color);
  background-color: var(--sec-color);
  box-shadow: var(--box-shadow);
  text-transform: none;
}

#l-name ,#phone{
  position: relative;
  left: 15px;
}

/* ---------------footer section------------------ */

footer {
  background-color: var(--sec-color);
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}
footer .card {
  margin: 0;
}

.footer-nav-sec #sidemenu {
  position: absolute;
  gap: 20px;
  font-size: 27px;
  display: flex;
  justify-content: space-between;
  color:var(--head-text);
  font-weight: bold;
  left: 34%;
  text-decoration: none;
  margin-top: -12px;
}

.footer-nav-sec #sidemenu ul li {
  text-decoration: none;
}
.copy-right p {
  font-weight: bold;
  display: flex;
  margin-top: 35px;
  color: var(--head-text);
}

nav .fas {
  display: none;
}
.smallNav {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 5px 4%;
  }

  .smallNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
    padding-block: 14px;
    position: fixed;
    z-index: 99;
    left: 0;
    background: #9898982e;
    backdrop-filter: blur(9px);
    top: 0;
    width: 100%;
  }

  #header {
    height: 95vh;
  }
  .header-content {
    margin-top: 90%;
    font-size: 25px;
  }
  .profession {
    font-size: 30px;
    font-weight: 400;
  }
  .logo {
    height: 50px;
    width: 50px;
  }

  nav ul li {
    display: block;
    margin: 40px;
  }

  nav {
    width: 65%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.274);
    backdrop-filter: blur(12px);
    bottom: 0;
    right: -100%;
    transition: all 0.3s ease;
    z-index: 999;
    align-items: start;
    padding: 12px;
    display: block;
  }
  nav .fas {
    display: block;
    position: absolute;
    top: 18px;
    left: 18px;
    font-size: 32px;
    order: 1;
  }

  nav ul {
    order: 2;
    margin-top: 52px;
  }

  .nav-show {
    right: 0;
  }

  nav ul li {
    display: block;
    padding: 8px;
    background-color: var(--color);
    /* width: 100%; */
    border-radius: 8px;
    margin: 0;
    margin-bottom: 12px;
  }
  nav ul li a {
    color: black;
    width: 100%;
    display: block;
  }
  nav img {
    display: none;
  }

  .card {
    margin-top: 0px;
  }

  .sub-title {
    font-size: 40px;
    font-weight: 400;
    position: relative;
  }
  .sub-title::after {
    height: 20px;
    width: 20px;
    right: auto;
  }

  .sub-title::before {
    height: 20px;
    width: 20px;
      }

  .row {
    flex-direction: column;
  }
  .about-col-2 {
    order: 1;
  }
  .about-col-1 {
    order: 2;
  }
  .description {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description span {
    font-size: 40px;
    margin-top: -8px;
    font-weight: 500;
  }

  .about-col-2 p {
    margin-top: 10px;
  }
  .about-col-2 h2 {
    font-weight: 400;
    font-size: 19px;
    margin-top: -25px;
    text-align: center;
  }
  .location {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  .web img {
    height: 35px;
    width: 35px;
    margin-left: 10px;
  }
  .web span {
    margin-top: -34px;
  }
  .editor img {
    height: 33px;
    width: 35px;
  }
  .editor span {
    margin: -33px 0 0 50px;
  }
  .img-wrapper img {
    margin: 45px 0 0 20px;
    max-width: 340px;
  }
  .img-wrapper::before {
    width: 45px;
    height: 45px;
    top: 43px;
    left: 12px;
  }
  .img-wrapper::after {
    width: 45px;
    height: 45px;
    right: 45px;
    bottom: 1px;
  }

  .button {
    margin-top: -5px;
  }

  .service-container .service-box {
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: -20px;
  }
  .service-box p {
    font-size: 14px;
  }
  #skills {
    padding: 25px 0;
  }
  .skill-heading {
    text-align: center;
    margin-left: 0;
    font-size: 31px;
  }
  .skill-col1 {
    order: 1;
  }
  .skill-col1 {
    margin-top: -15px;
  }
  .techinal-skill{
    font-size: 28px;
    margin-top: -7%;
  }
  .skill-col2 {
    order: 2;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
  }

  .skill-col2 h1 {
    margin: -115px 0 0 85px;
    font-size: 30px;
  }

  .skill-container {
    width: 352px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
  }
  .contact-left {
    order: 1;
    position: relative;
    height: 300px;
    border-right: none;
    /* border-bottom: 3px solid var(--color); */
  }

  .contact-left::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    border-bottom: 3px solid var(--color);
  }

  .contact-right {
    order: 2;
    margin-top: -65px;
  }
  .contact-section h1 {
    font-size: 20px;
  }

  .contact-right h1 {
    margin-top: 80px;
  }

  .social-medias {
    margin-top: -30px;
  }
  .input-1 {
    display: flex;
    flex-direction: column;
    width: 165vw;
    margin-left: 12px;
  }
  .input-2 {
    display: flex;
    flex-direction: column;
    width: 165vw;
    margin-left: 12px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    height: 34px;
  }

  footer .card {
    display: flex;
    left: 22px;
    justify-content: center;
    position: relative;
  }

  .footer-nav-sec #sidemenu {
    position: relative;
    left: 0;
    gap: 15px;
    font-size: 14px;
    font-weight: 400;
  }
  .copy-right p {
    margin: 8px;
    display: flex;
    font-weight: 300;
    justify-content: center;
    font-size: 14px;
  }
}

@media only screen and (max-width: 516px) {
  .header-content {
    margin-top: 0;
  }
  .header-content h3 {
    margin-top: 51vh;
    font-size: 23px;
    font-weight: 400;
  }

  .sub-title {
    margin: 0;
    text-align: center;
  }
  .sub-title::before {
    left: auto;
  }
  .sub-title::after {
    right: auto;
    bottom: 0;
  }
  .skill {
    margin: 0;
    justify-content: center;
    margin-block: 10px;
  }

  .img-wrapper {
    margin: 0;
    margin-block: 20px;
   
  }
  .img-wrapper img {
    width: auto;
    margin: 0;
  }
  .img-wrapper::after {
    right: 0;
    bottom: 0;
  }
  .img-wrapper::before {
    left: 0;
    top: 0;
  }
  .skill-container,
  .skill-col2 h1 {
    margin: 0;
  }
  .skill-col2 h1 {
    text-wrap: nowrap;
    width: 100%;
    text-align: center;
    margin-block: 18px;
  }
  .skill-col2,
  #l-name,
  #phone,
  form input,
  .contact-container {
    margin: 0;
    left: 0;
    margin-left: 6px;
  }

  .contact-right {
    padding: 0;
  }
  .contact-right form {
    padding: 8px;
  }
  .input-1,
  .input-2,
  .input-textarea {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
  }
  form button {
    margin: 0;
    width: auto;
    margin: -8px 0 0 13px;
  }
  .btn-sec {
    display: flex;
    justify-content: center;
    margin-block: 28px;
  }
  .contact-heading {
    margin-left: 12px;
  }
}

 
@media (min-width: 425px) and (max-width: 600px) {
  .img-wrapper {
      width: 90%;
      max-width: 380px; /* Slightly larger for big mobile screens */
  }

  .img-wrapper img {
      max-width: 464px; /* Adjust image size */
      height: auto;
      margin-left: -13px;
  }
  .img-wrapper::before{
    left: -16px;
    top: auto;
  }
  .img-wrapper::after{
    bottom: 0;
    right: -70px;
  }
  #l-name, #phone {
    left: 0;
  }
  .input-1{
    margin-left: 0;
  }
  .input-2{
    margin-left: 0;
  }
  .input-textarea{
    width: 109%;
  }
  footer .card{
    left: 19%;
    font-size: 32px;
  }
  .footer-nav-sec #sidemenu{
    font-size: 20px;
  }
  .copy-right p{
    font-size: 17px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    padding: 10px 5%;
  }

  .header-content {
    margin-top: 50%;
    font-size: 28px;
  }

  .profession {
    font-size: 35px;
    font-weight: 500;
  }

  .logo {
    height: 55px;
    width: 55px;
  }

  nav ul li {
    display: inline-block;
    margin: 15px 25px;
  }

  nav ul li a {
    font-size: 22px;
  }

  .sub-title {
    font-size: 50px;
    font-weight: 500;
    margin-left: -5rem;
    margin-top: -2rem;
  }

  .sub-title::after {
    height: 30px;
    width: 30px;
    right: revert;
  }

  .sub-title::before {
    height: 30px;
    width: 30px;
    left: -10px;
  }

  .row{
    display: flex;
    flex-wrap: nowrap;
    width: 133%;
  }


  .about-col-2 p {
    font-size: 20px;
    margin-top: 50px;
  }

  .about-col-2 h2 {
    font-size: 24px;
    margin-top: 10px;
  }

  .location {
    margin-top: -40px;
  }

  .location span {
    font-size: 20px;
  }

  .skill {
    margin: 20px 0 0 20px;
  }

  .web img {
    height: 45px;
    width: 45px;
  }

  .web span {
    margin-top: -35px;
    font-size: 22px;
  }

  .editor img {
    height: 40px;
    width: 40px;
  }

  .editor span {
    margin-top: -35px;
    font-size: 22px;
  }

  .img-wrapper {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }

  .img-wrapper img {
    max-width: 100%;
    height: auto;
    max-width: 380px;
    margin-left: -37px;
    overflow: overlay;
    margin-top: 20%;
  }

  .img-wrapper::before {
    width: 60px;
    height: 60px;
    top: 0;
    left: -40px;
  }

  .img-wrapper::after {
    width: 60px;
    height: 60px;
    right: -70px;
    bottom: 0px;
  }

  .service-section{
    width: 88vw;
  }

  .service-container .service-box {
    width: 90%;
    padding: 15px;
    border-radius: 25px;
    margin: 0 auto;
  }

  .service-box p {
    font-size: 18px;
  }

  #skills {
    padding: 50px 0;
  }

  .skill-heading {
    font-size: 35px;
    margin-left: 0;
  }

  .techinal-skill {
    font-size: 28px;
    margin-top: 0;
  }

.skill-col1, .skill-col2{
  width: 100%
}

  .skill-col2 h1 {
    margin: -50px 0 0 50px;
    font-size: 28px;
  }

  .skills-container{
    width: 100%;
    margin: 0 auto;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-left {
    order: 1;
    height: auto;
    border-right: none;
    border-bottom: 3px solid var(--color);
    padding: 20px;
  }

  .contact-right {
    order: 2;
    margin-top: 20px;
    padding: 20px;
  }

  .contact-right form {
    padding: 10px;
  }

  .input-1,
  .input-2,
  .input-textarea {
    width: 100%;
    margin: 10px 0;
  }

  form button {
    width: 100%;
    margin: 10px 0;
  }

  footer .card {
    display: flex;
    justify-content: center;
    font-size: 28px;
  }

  .footer-nav-sec #sidemenu {
    font-size: 18px;
  }

  .copy-right p {
    font-size: 16px;
  }

  
}
  
